<IfModule mod_rewrite.c>
    RewriteEngine on

    RewriteRule ^(.*)$ /public/$1 [NC,L,QSA]
</IfModule>

# Baris php_value dihapus karena tidak didukung di shared hosting InfinityFree dan akan menyebabkan Error 500.